<div class="seal">
	<div class="avenir vh-100 vh-75-ns vh-75-m cover bg-center b-lazy b-loaded" style="background-image: url('{{.imageUrl}}')">
	<!-- data-src="{{.imageUrl}}" data-src-small="{{.imageUrl}}" -->
	  <div class="vh-100 vh-75-ns vh-75-m dt w-100">
	    <div class="dtc tc white ph3 ph4-l v-btm text-shadow measure-narrow mb3">
	    

	        <h1 class="f2 f3-ns f1-l mb0 lh-title">
	          {{.title}}
	        </h1>

		      <h2 class="f3 f4-ns mt3">
		        {{ if .subtitle }}
		        <span class="f3 f4-ns mt3">
		          {{.subtitle}}
		        </span>
		        {{ end }}
		      </h2>
	      
	    </div>
	  </div>
	</div>
</div>





