<header id=header class="avenir flex justify-between fixed w-100 ph3 ph4-m ph5-l top-0 pb3" style=z-index:200 ondragstart="return false">
	<nav class="dt w-100">
	
		<!-- Logo -->
		<div class="dtc v-mid w-10">
			<a href="#home" class="dib w3 h3 pt4">
				<img src="/images/logo.svg" alt="Marzò rendered in tasteful script" class="br0 db mb0 w-100"/>
			</a>
		</div>
	
		<!-- Primary Nav -->
		<div data-gumshoe-header data-scroll-header class="dtc v-mid w-80 tr truncate ttu tracked-mega-ns">
			<ul data-gumshoe class=gumshoe>
				<li><a href="/not-products" class="fr f0 f6-ns f5-l fw4 hover-white no-underline white-70 pv2 ph3 ph1-ns" data-scroll ondragstart="return false">NOT Products</a></li>
		
				<li><a href="/values" class="fr f0 f6-ns f5-l fw4 hover-white no-underline white-70 pv2 ph3 ph1-ns" data-scroll ondragstart="return false">Values</a></li>
		
				<li><a href="/about" class="fr f0 f6-ns f5-l fw4 hover-white no-underline white-70 pv2 ph3 ph1-ns" data-scroll ondragstart="return false">Services</a></li>
		
				<li><a href="/post" class="fr f0 f6-ns f5-l fw4 hover-white no-underline white-70 pv2 ph3 ph1-ns" data-scroll ondragstart="return false">Blog</a></li>
		
				<li><a href="/contact" class="fr f0 f6-ns f5-l fw4 hover-white no-underline white-70 pv2 ph3 ph1-ns" data-scroll ondragstart="return false">Contact</a></li>
			</ul>
			<!--div class="dtc v-mid pa1 w-10">
				<select class="f5 fr fw4 black no-underline dib pv2 ph2 bl b--black-025 langSelect" id=lang name=language onchange="userLanguage();" ondragstart="return false">
					<option value=it>Italiano</option>
					<option value=en>English</option>
				</select>
			</div-->
	</nav>
</header>
