<form  class="" action="" ><!-- class="flex-ns mb3" -->

  <fieldset class="mt3" name="newsletter" action="newsletter-subscribe"><!-- class="flex-auto mb2 mb0-ns mr2-ns" -->
    <label for="email" class="db f6 f5-ns black-70 db fw4 lh-copy ttu tracked-mega white">Your email</label>  
    <input type="text" id="email" placeholder="Your email" class="pa2 input-reset bg-white-05 w-100 measure" onfocus="headerHidden();" onblur="showHeader();">
  </fieldset>

  <button class="fr f6 f5-ns b ph4 pv3 input-reset ba bw2-ns white b--white bg-transparent grow pointer ttu tracked-mega" type="submit">Submit</button>

</form>




