<article class="w-100 tc pb5 pa2-ns pb4-ns hover-bg-black-05">
  <div class="seal aspect-ratio aspect-ratio--16x9 mb4">
    {{ if .Params.image }}
    <div class="aspect-ratio--object cover bg-center b-lazy" data-src="{{ .Params.image }}" data-src-small="{{ .Params.image }}"></div>
    {{ end }}
  </div>
  <section class="tc {{ .Params.region }}">
  	<h3 class="f5 f4-ns ph2 ph0-ns mb0 black-90">{{ .Title }}</h3>
  	<p class="f6 f5 fw4 mt2 black-60 measure">{{ .Description }}</p>
    <h4 class="f3 f4-m tc mb4">{{ .Params.price }}</h4>  	
		<a href="{{ .Params.cta }}" class="f6 f5-ns b pv3 ph4 ph3-l ph1-ns no-underline ba bw2-ns b--black bg-black white pointer ttu tracked-mega" ondragstart="return false">Enquire</a>
  	<!--p class="f6 f5 fw4 mt2 black-60 measure">{{ .Content }}</p-->		
  </section>
</article>
