{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!--
{{ partial "short-text" .Params.blurb }}
-->

{{ partial "about-top" . }}

{{ partial "price" . }}

{{ partial "subscribe" . }}

{{ partial "about" . }}
<!-- It works! -->

<!--
{{ partial "2-up" .Params }}
{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}
-->

{{ partial "news" . }}
<!-- It works! -->

<!-- simplify the nesting -->
{{ partial "email" . }}

{{ end }}
